*{
    margin: 0;
    padding: 0;
}
.banner {
    width: 1440px;
    height: 812.5326538085938px;
    background-color: aquamarine;
    position: relative;
}
.header {
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    position: relative;
}
.header .group_168 {
    background-color: aquamarine;
    width: 1286px;
    height: 41px;
    position: absolute;
    top: 29px;
    left: 54px;

}
.group_168 .group_1 {
    width: 100%;
    height: 100%;
    background-color: rgba(240, 255, 255, 0);
    display: flex;
    justify-content: space-between;
}
.group_1 .frame_168 {
    width: 185px;
    height: 41px;
    display: flex;
    align-items: center;
}
.frame_168 .Meubel_House_Logos-05 {
    width: 50px;
    height: 32px;
}
.frame_168 .SkinClinic {
    font-size: 34px;
}
.group_1 .icon {
    width: 250px;
    height: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon .icon_item {
    width: 28px;
    height: 28px;
}

.group_168 .group_2 {
    width: 430px;
    height: 24px;
    position: absolute;
    top: 10px;
    left: 400px;
    background-color: rgba(245, 245, 220, 0);
    display: flex;
}
.group_2 .item {
    flex: 1;
}